/*! 
  tiny-trim.css
  @author: BearD01001 <dino@beard.ink>
  https://github.com/BearD01001/tiny-trim.css
 */

@import 'config.scss';

$ipt: if($tt-priority-promote, '!important', '');

/* common loop props mixin */
@mixin clp($prop-name-map, $prop-val-maps) {
    @each $k, $v in $prop-val-maps {
        .#{map-get($prop-name-map, 'abbr')}-#{$k} {
            #{map-get($prop-name-map, 'name')}: $v#{$ipt}
        }
    }
}

@include clp((name: position, abbr: pos), (a: absolute, r: relative, s: static, f: fixed));
@include clp((name: display, abbr: dp), (i: inline, b: block, n: none, ib: inline-block));
@include clp((name: visibility, abbr: vs), (h: hidden, v: visible));
@include clp((name: box-sizing, abbr: bs), (bb: border-box, cb: content-box));

$of-value-maps: (h: hidden, v: visible, s: scroll, a: auto);
@include clp((name: overflow, abbr: of), $of-value-maps);
@include clp((name: overflow-x, abbr: ox), $of-value-maps);
@include clp((name: overflow-y, abbr: oy), $of-value-maps);

/* For priorities have position attribute */
$pos-maps: (t: top, r: right, b: bottom, l: left);
$min-level: if($tt-negative, -$tt-level, 0);
@each $k, $v in $pos-maps {
    @for $i from $min-level through $tt-level {
        $curr-step: $i * $tt-step;
        $curr-map: ($curr-step: #{$curr-step}#{$tt-unit});
        @include clp((name: margin-#{$v}, abbr: m#{$k}), $curr-map);
        @include clp((name: $v, abbr: $k), $curr-map);
        @if($i >= 0) {
            @include clp((name: padding-#{$v}, abbr: p#{$k}), $curr-map);
        }
    }
}

@for $i from $min-level through $tt-level {
    $curr-step: $i * $tt-step;
    $curr-map: ($curr-step: #{$curr-step}#{$tt-unit});
    @include clp((name: margin, abbr: m), $curr-map);
    @include clp((name: padding, abbr: p), $curr-map);
}

/* Others */
.td-none {
    text-decoration: none#{$ipt}
}
.bd-none {
    border: none#{$ipt}
}
.wd-100 {
    width: 100%#{$ipt}
}
/* End */
