/*! 
  tiny-trim.css
 */

@import 'config.scss';

// For priorities have position attribute
$pm-pos: (t: top, r: right, b: bottom, l: left);
$min: if($tt-negative, -$tt-level, 0);

@each $k, $v in $pm-pos {
    @for $i from $min through $tt-level {
        $curr-val: $i * $tt-step;
        // margin & padding
        @each $tk, $tv in (m: margin, p: padding) {
            .#{$tk}#{$k}-#{$curr-val} {
                #{$tv}-#{$v}: $curr-val#{$tt-unit}
            }
        }
        // top, right, bottom, right
        .#{$k}-#{$curr-val} {
            #{$v}: $curr-val#{$tt-unit}
        }
    }
}
